In [1]:
import pandas as pd
df=pd.read_csv("tested.csv")
df

In [186]:
df.dtypes
#variaveis discretas nominais

PassengerId      int64
Survived         int64
Pclass           int64
Name               str
Sex                str
Age            float64
SibSp            int64
Parch            int64
Ticket             str
Fare           float64
Cabin              str
Embarked           str
dtype: object

In [187]:
cols_discretas=["Survived","Pclass","Sex","Parch","PassengerId","SibSp"]
for variavel in cols_discretas:
    print(df[variavel].value_counts())

Survived
0    266
1    152
Name: count, dtype: int64
Pclass
3    218
1    107
2     93
Name: count, dtype: int64
Sex
male      266
female    152
Name: count, dtype: int64
Parch
0    324
1     52
2     33
3      3
4      2
9      2
6      1
5      1
Name: count, dtype: int64
PassengerId
892     1
893     1
894     1
895     1
896     1
       ..
1305    1
1306    1
1307    1
1308    1
1309    1
Name: count, Length: 418, dtype: int64
SibSp
0    283
1    110
2     14
3      4
4      4
8      2
5      1
Name: count, dtype: int64

In [188]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [189]:
colunas=["PassengerId","Survived","Pclass","Name","Sex","Age","SibSp","Parch","Ticket","Fare","Cabin","Embarked"]
for variavel in colunas:
    print(df.duplicated(variavel).sum())

0
416
415
0
416
338
411
410
55
248
341
415

In [190]:
children_survived = df[(df["Age"] < 18) & (df["Survived"] == 1)]
print(children_survived)

     PassengerId  Survived  Pclass                                       Name  \
104          996         1       3  Thomas, Mrs. Alexander (Thamine Thelma")"
117         1009         1       3            Sandstrom, Miss. Beatrice Irene
120         1012         1       2                       Watt, Miss. Bertha J
125         1017         1       3                   Cribb, Miss. Laura Alice
140         1032         1       3                Goodwin, Miss. Jessie Allis
175         1067         1       2                  Brown, Miss. Edith Eileen
203         1095         1       2                 Quick, Miss. Winifred Vera
250         1142         1       2                      West, Miss. Barbara J
263         1155         1       3               Klasen, Miss. Gertrud Emilia
283         1175         1       3                 Touma, Miss. Maria Youssef
284         1176         1       3                Rosblom, Miss. Salli Helena
296         1188         1       2                      Laroche, Miss. Louise
315         1207         1       3                       Hagardon, Miss. Kate
326         1218         1       2               Becker, Miss. Ruth Elizabeth
345         1237         1       3                Abelseth, Miss. Karen Marie
354         1246         1       3    Dean, Miss. Elizabeth Gladys Millvina""
409         1301         1       3                  Peacock, Miss. Treasteall

        Sex    Age  SibSp  Parch              Ticket     Fare Cabin Embarked
104  female  16.00      1      1                2625   8.5167   NaN        C
117  female   1.00      1      1             PP 9549  16.7000    G6        S
120  female  12.00      0      0          C.A. 33595  15.7500   NaN        S
125  female  17.00      0      1              371362  16.1000   NaN        S
140  female  10.00      5      2             CA 2144  46.9000   NaN        S
175  female  15.00      0      2               29750  39.0000   NaN        S
203  female   8.00      1      1               26360  26.0000   NaN        S
250  female   0.92      1      2          C.A. 34651  27.7500   NaN        S
263  female   1.00      1      1              350405  12.1833   NaN        S
283  female   9.00      1      1                2650  15.2458   NaN        C
284  female   2.00      1      1              370129  20.2125   NaN        S
296  female   1.00      1      2       SC/Paris 2123  41.5792   NaN        C
315  female  17.00      0      0         AQ/3. 30631   7.7333   NaN        Q
326  female  12.00      2      1              230136  39.0000    F4        S
345  female  16.00      0      0              348125   7.6500   NaN        S
354  female   0.17      1      2           C.A. 2315  20.5750   NaN        S
409  female   3.00      1      1  SOTON/O.Q. 3101315  13.7750   NaN        S

In [8]:
df[["Age","Survived","Sex"]].groupby("Sex").mean()

              Age  Survived
Sex
female  30.272362       1.0
male    30.272732       0.0

In [15]:
children_survived[["Age","Fare"]].mean()

Age      8.299412
Fare    22.039459
dtype: float64

In [3]:

children_survived = df[(df["Age"] < 18) & (df["Survived"] == 1)]
print(children_survived.nlargest(2,"Age"))
print(children_survived.nsmallest(2,"Age"))

     PassengerId  Survived  Pclass                      Name     Sex   Age  \
125         1017         1       3  Cribb, Miss. Laura Alice  female  17.0
315         1207         1       3      Hagardon, Miss. Kate  female  17.0

     SibSp  Parch       Ticket     Fare Cabin Embarked
125      0      1       371362  16.1000   NaN        S
315      0      0  AQ/3. 30631   7.7333   NaN        Q
     PassengerId  Survived  Pclass                                     Name  \
354         1246         1       3  Dean, Miss. Elizabeth Gladys Millvina""
250         1142         1       2                    West, Miss. Barbara J

        Sex   Age  SibSp  Parch      Ticket    Fare Cabin Embarked
354  female  0.17      1      2   C.A. 2315  20.575   NaN        S
250  female  0.92      1      2  C.A. 34651  27.750   NaN        S