In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("MELBOURNE_HOUSE_PRICES_LESS.csv")
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
0,Abbotsford,49 Lithgow St,3,h,1490000.0,S,Jellis,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
1,Abbotsford,59A Turner St,3,h,1220000.0,S,Marshall,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
2,Abbotsford,119B Yarra St,3,h,1420000.0,S,Nelson,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
3,Aberfeldie,68 Vida St,3,h,1515000.0,S,Barry,1/04/2017,3040,Western Metropolitan,1543,7.5,Moonee Valley City Council
4,Airport West,92 Clydesdale Rd,2,h,670000.0,S,Nelson,1/04/2017,3042,Western Metropolitan,3464,10.4,Moonee Valley City Council
...,...,...,...,...,...,...,...,...,...,...,...,...,...
63018,Roxburgh Park,3 Carr Pl,3,h,566000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council
63019,Roxburgh Park,9 Parker Ct,3,h,500000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council
63020,Roxburgh Park,5 Parkinson Wy,3,h,545000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council
63021,Thomastown,3/1 Travers St,3,u,NaN,PI,Barry,31/03/2018,3074,Northern Metropolitan,7955,15.3,Whittlesea City Council
63022,Williams Landing,1 Diadem Wy,4,h,NaN,SP,Aussie,31/03/2018,3027,Western Metropolitan,1999,17.6,Wyndham City Council

In [7]:
#1. 63,023 observações e 13 variaveis

In [2]:
print(df.dtypes)

Suburb               str
Address              str
Rooms              int64
Type                 str
Price            float64
Method               str
SellerG              str
Date                 str
Postcode           int64
Regionname           str
Propertycount      int64
Distance         float64
CouncilArea          str
dtype: object

In [3]:
print(df['Rooms'].value_counts())
print(df['Postcode'].value_counts())
print(df['Propertycount'].value_counts())

Rooms
3     27950
4     15747
2     13248
5      3434
1      2111
6       424
7        61
8        29
10        7
9         5
12        4
11        1
31        1
16        1
Name: count, dtype: int64
Postcode
3073    1241
3064    1093
3150    1084
3121     904
3046     895
        ...
3766       1
3159       1
3980       1
3091       1
3797       1
Name: count, Length: 225, dtype: int64
Propertycount
21650    1241
8870     1043
10969     845
13366     831
14949     822
         ...
262         1
491         1
1399        1
1075        1
302         1
Name: count, Length: 368, dtype: int64

In [4]:
valores_nulos = {}

for coluna in df.columns:

    contagem = df[coluna].isna().sum()
    valores_nulos[coluna] = contagem

print(valores_nulos)

{'Suburb': np.int64(0), 'Address': np.int64(0), 'Rooms': np.int64(0), 'Type': np.int64(0), 'Price': np.int64(14590), 'Method': np.int64(0), 'SellerG': np.int64(0), 'Date': np.int64(0), 'Postcode': np.int64(0), 'Regionname': np.int64(0), 'Propertycount': np.int64(0), 'Distance': np.int64(0), 'CouncilArea': np.int64(0)}

In [5]:
total_duplicados = df.duplicated().sum()
print(f"Total de linhas duplicadas: {total_duplicados}")

total_duplicados = df.duplicated(["Suburb","Address","Postcode"]).sum()
print(f"Total de casas duplicadas: {total_duplicados}")

total_duplicados = df.duplicated(["Suburb","Address","Postcode","Rooms"]).sum()
print(f"Total de casas duplicadas com o mesmo numero de quartos: {total_duplicados}")

print("Total de casas com a mesma morada, suburbio e o mesmo numero de casa mas com diferente número de quartos: 112")

Total de linhas duplicadas: 2
Total de casas duplicadas: 4308
Total de casas duplicadas com o mesmo numero de quartos: 4196
Total de casas com a mesma morada, suburbio e o mesmo numero de casa mas com diferente número de quartos: 112

In [10]:
# apenas casas com 4 quartos e print(f"A média de preço para casas com 4 quartos é: {media_4_quartos:,.2f}")media 4 quartos
grupo = df[df["Rooms"] == 4]
media_4_quartos = grupo["Price"].mean()
print(f"A média de preço para casas com 4 quartos é: {media_4_quartos:,.2f}")

grupo_interessante = df[(df["Rooms"] == 4) & (df["Price"] < 600000)]

print(f"Encontrámos {len(grupo_interessante)} casas com 4 quartos abaixo de 600 mil.")

A média de preço para casas com 4 quartos é: 1,236,714.83
Encontrámos 1111 casas com 4 quartos abaixo de 600 mil.

In [19]:
#Estatísticas para o Dataset
media_preco_total = df["Price"].mean()
media_quartos_total = df["Rooms"].mean()
media_date_total = df["Date"].mean

#Estatísticas para o Grupo (>4 quartos e <600k)
media_preco_grupo = grupo_interessante["Price"].mean()
media_quartos_grupo = grupo_interessante["Rooms"].mean()
media_date_grupo = grupo_interessante["Date"].mean

# comparação
print("--- COMPARAÇÃO DE ESTATÍSTICAS ---")
print(f"Preço Médio: Total = {media_preco_total:,.2f} | Grupo = {media_preco_grupo:,.2f}")
print(f"Média de Quartos: Total = {media_quartos_total:.2f} | Grupo = {media_quartos_grupo:.2f}")

--- COMPARAÇÃO DE ESTATÍSTICAS ---
Preço Médio: Total = 997,898.24 | Grupo = 517,932.01
Média de Quartos: Total = 3.11 | Grupo = 4.00

In [22]:
date_minimo = grupo_interessante["Date"].min()
date_maximo = grupo_interessante["Date"].max()

data_mais_baixa = grupo_interessante[grupo_interessante["Date"] == date_minimo]
data_mais_alta = grupo_interessante[grupo_interessante["Date"] == date_maximo]

print("--- CLASSIFICAÇÃO MAIS BAIXA (Menor Data) ---")
print(data_mais_baixa[["Address", "Price", "Date"]])

print("\n--- CLASSIFICAÇÃO MAIS ALTA (Maior Data no Grupo) ---")
print(data_mais_alta[["Address", "Price", "Date"]])

--- CLASSIFICAÇÃO MAIS BAIXA (Menor Data) ---
               Address     Price       Date
141       67 Gamble Rd  581500.0  1/04/2017
172    4 Meadowbank Ct  580500.0  1/04/2017
174     16 Serenity Wy  475000.0  1/04/2017
266  56 Christopher Dr  351000.0  1/04/2017
403      5 Vasari Gdns  525500.0  1/04/2017
450         13 Greg Ct  510000.0  1/04/2017
541         2 Dendy Ct  462000.0  1/04/2017
542         6 Korab Pl  448000.0  1/04/2017
555       10 Howatt Pl  560000.0  1/04/2017
597   28 Roadhouse Wyn  547000.0  1/04/2017
659    3 Crescendo Bvd  567500.0  1/04/2017

--- CLASSIFICAÇÃO MAIS ALTA (Maior Data no Grupo) ---
                 Address     Price       Date
17367       61 Bowral Lp  560000.0  9/12/2017
17368      45 Burrora Wy  556000.0  9/12/2017
17370     15 Eastgate Rd  515000.0  9/12/2017
17378       3 Tussock Rd  565100.0  9/12/2017
17422     26 Tooradin Cr  556000.0  9/12/2017
17452     20 Berrigan St  567000.0  9/12/2017
17456      1 Koukoura Dr  585000.0  9/12/2017
17509     31 Wangarra Rd  585000.0  9/12/2017
17512    122 Rosemary Cr  519000.0  9/12/2017
17704     8 Dillwynia Pl  530000.0  9/12/2017
17708          6 Bass Ct  420000.0  9/12/2017
17710      23 Empress Wy  382000.0  9/12/2017
17795    1 Longmeadow Rd  563000.0  9/12/2017
17798       13 Rogers St  571000.0  9/12/2017
17945        23 Casey Av  565000.0  9/12/2017
18024  21 Westminster Dr  460000.0  9/12/2017
18035        9 Ovens Cct  505000.0  9/12/2017